@shazhouke:registry=https://shazhouke.pkgs.visualstudio.com/_packaging/shazhouke-private-npm/npm/registry
always-auth=true
; Treat this auth token like a password. Do not share it with anyone, including Microsoft support.
; begin auth token
//shazhouke.pkgs.visualstudio.com/_packaging/shazhouke-private-npm/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiIwZDRjMDhlZC1iMGNiLTRlN2MtOTU0Zi01MjZmZWIzYzBjODkiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiMDgzYzJlN2YtZmUyMC00NjVhLTlhOWUtNDBiNjRlZjU0MzY1Iiwic2lkIjoiMDgzM2U2MDctYjc2My00MDhmLWEyNjMtYjc4NTc2ZWZlM2IxIiwiaXNzIjoiYXBwLnZzc3BzLnZpc3VhbHN0dWRpby5jb20iLCJhdWQiOiJhcHAudnNzcHMudmlzdWFsc3R1ZGlvLmNvbXx2c286NDg2Y2JlNWEtZWUxOC00NTZmLWJiYjYtZDc4NmJkMmZkZmQwIiwibmJmIjoxNDg0ODM5MzI4LCJleHAiOjE0OTI2MTUzMjl9.YKYcj-CQlyv6E-403AIenIU1BqdvOxioTBuU4_1IW8tG0nFnI5JEEk6FEujCY__l0zjpTEa2PpqXZIo9XZtkGkQ_PYYUHsAXaCigSHZT5m7B8YEAeXPBSSrD4BNIUwxrgQ0ifpSvMe7PBjp0jqw68VQaX49Fju1taCrxvKp9zYbgRqPnY5rg_YRPaAbCXTmL_xM2hoxpv3ZOvQC0SXmD_yVd9gsxUKjP73PjECEKHj3Ga88Yq0aBoa5IhTPkPIDMBJ_xgs8J32q3-DusysnfRizENvYzVMDukhvxf6wAtyjSFEuL-k4Bk-NrG70-q1qFQKgiSsnZ1harUkAKZQrvew
; begin auth token
